.ima{
    max-width:  1128px;
    margin: auto;
    padding: 12px 0 36px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.ima a{
    width:135px;
    height:34px;
    

}
@media(max-width: 768px){
    .ima a{
        padding:0 5px
    }
}
